@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.testimonial1{
    background-image: url('../public/testimonial1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}


.testimonial2{
    background-image: url('../public/test2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}


